<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>searchByAjax1</servlet-name>
        <servlet-class>control.searchByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBy</servlet-name>
        <servlet-class>control.searchBy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchByAjax1</servlet-name>
        <url-pattern>/searchByAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBy</servlet-name>
        <url-pattern>/searchBy</url-pattern>
    </servlet-mapping>
</web-app>
